@font-face {
  font-family: white-outline;
  src: url('fonts/White\ Outlines.ttf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

*::selection {
  background-color: transparent;
}

html, body {
  /* background-color: #2f3136; */
  background-color: #252323;
  /* font-family: Droid Sans Mono !important; */
  /* font-family: white-outline; */
  width: 100%;
}
body {
  position: relative;
  min-height: 100%;
  top: 0px;
}

#banner-img {
  max-height: 600px;
  width: auto;
  margin: 0 auto;
  border: rgba(255, 255, 255, 0.493) solid 3px;
  border-right: rgba(255, 255, 255, 0.493) solid 6px;
  border-left: rgba(255, 255, 255, 0.493) solid 6px;
}

#img-wrapper {
  display: flex;
  background-color:rgb(172, 134, 39);
  width: fit-content;
  max-width: -moz-fit-content;
  margin: 0 auto;
  padding: 0.5rem 1.5rem 0.75rem 1.5rem;
  border: solid black 3px;
}

#main {
  text-align: center;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

#main > h1 {
  font-family: white-outline;
  cursor: pointer;
  color: rgb(59, 61, 66);
  margin: 0 4rem;
}

#controls {
  display:flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* all font awesome */
i[class^=fa] {
  justify-self: flex-end;
  /* margin: auto 0; */
  border-radius: 3px;
  padding: 0.5rem;
  color: #4c4f57;
  font-size: 3rem;
}
i[class^=fa]:hover {
  cursor: pointer;
}

/* play pause */
i[class$=fa-play-circle]:hover {
  color: #008000;
}
i[class$=fa-pause-circle]:hover {
  color: #b40000;
}

/* social meds */
/* .fa-twitter-square:hover {
  color: #1B95E0;
}
.fa-github:hover {
  color: black;
}
.fa-envelope-square:hover {
  color: #8286c5;
}
.fa-linkedin:hover {
  color: #1B95E0;
} */