* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  /* background-color: #6c757d; */
  font-family: Droid Sans Mono !important;
  width: 100%;
}
body {
  position: relative;
  min-height: 100%;
  top: 0px;
}