@font-face {
  font-family: white-outline;
  src: url('fonts/White\ Outlines.ttf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: transparent;
}

html, body {
  background-color: rgb(47, 49, 54);
  /* font-family: Droid Sans Mono !important; */
  /* font-family: white-outline; */
  width: 100%;
}
body {
  position: relative;
  min-height: 100%;
  top: 0px;
}

#banner-img {
  max-height: 600px;
  width: auto;
  margin: 0 auto;
  border: rgba(255, 255, 255, 0.493) solid 3px;
  border-right: rgba(255, 255, 255, 0.493) solid 6px;
  border-left: rgba(255, 255, 255, 0.493) solid 6px;
}

#img-wrapper {
  display: flex;
  background-color:rgb(172, 134, 39);
  width: fit-content;
  max-width: -moz-fit-content;
  margin: 0 auto;
  padding: 0.5rem 1.5rem 0.75rem 1.5rem;
  border: solid black 3px;
}

#main {
  margin-top: 20px;
  text-align: center;
  font-size: 3rem;
}

#main > h1 {
  font-family: white-outline;
  cursor: pointer;
  color: rgb(59, 61, 66);
}

/* i[class^=fa] {
  border-radius: 3px;
  padding: 0.5rem;
  border: 1px solid transparent;
}

i[class^=fa]:hover {
  cursor: pointer;
  border: 1px solid black
}

.fa-envelope-square {
  color: #8286c5;
}

.fa-twitter-square {
  color: #1B95E0;
}

.fa-linkedin {
  color: #1B95E0;
} */